---
import WhatWeDoImg from '@/assets/what-we-do-img.png'
import { Image } from 'astro:assets'

const whatWeDoItems = [
  {
    title: 'Performance Marketing & Analytics',
    description: [
      'Performance Media',
      'Search Engine Optimisation',
      'Web & App Analytics',
      'Conversion Rate Optimisation Through Personalisation',
    ],
    img: WhatWeDoImg,
    href: '#',
  },
  {
    title: 'Digital-First Creative',
    description: [
      'Brand & Marketing Strategy',
      'Content Hubs',
      'Creative Services',
    ],
    img: WhatWeDoImg,
    href: '#',
  },
  {
    title: 'Marketing Technology',
    description: [
      'Technology Consulting',
      'MarTech Deployment & Partnerships',
      'Cloud Readiness & Migration',
      'Mobile Development',
      'Custom Web Development',
      'Solution Architecture',
    ],
    img: WhatWeDoImg,
    href: '#',
  },
  {
    title: 'Experience Design & Strategy',
    description: [
      'Digital Transformation & Change Management',
      'User Experience Strategy and Design',
    ],
    img: WhatWeDoImg,
    href: '#',
  },
]
---

<section
  class="overflow-x-hidden flex flex-col px-5 md:px-20 py-36 gap-10 xl:gap-22"
>
  <h2
    class="text-center font-extrabold text-4xl lg:text-8xl leading-10 lg:leading-20 uppercase"
  >
    What we do
  </h2>
  <div class="flex flex-col items-center gap-16">
    {
      whatWeDoItems.map((item, index) => (
        <div
          class={`w-full flex flex-col gap-6 xl-gap-0 xl:justify-between xl:items-center ${
            index % 2 === 0 ? 'xl:flex-row-reverse' : 'xl:flex-row'
          }`}
        >
          <Image
            src={item.img}
            alt={item.title}
            class="w-full xl:max-w-8/12 rounded-2xl"
          />
          <div class="flex flex-col gap-5 sm:gap-6 xl:max-w-1/4 h-fit">
            <div class="w-12 h-12 border-2 border-foreground rounded-full flex items-center justify-center font-semibold text-lg sm:text-xl">
              {(index + 1).toString().padStart(2, '0')}
            </div>
            <h3 class="font-extrabold text-2xl sm:text-4xl">{item.title}</h3>
            <div class="flex flex-col gap-4">
              {item.description.map((desc) => (
                <p class="leading-6 text-foreground-secondary">{desc}</p>
              ))}
            </div>
            <a
              href={`${item.href}`}
              class="px-6 py-3 rounded-full border-1 border-foreground w-fit font-extrabold text-sm tracking-wide"
            >
              See more
            </a>
          </div>
        </div>
      ))
    }
  </div>
</section>
