---
import PhoneIcon from '@/assets/phone-icon.svg'
import AtIcon from '@/assets/at-icon.svg'
import LocationIcon from '@/assets/location-icon.svg'

const offices = [
  {
    area: 'Asia',
    location: 'Kuala Lumpur',
    phoneNumber: '+60 3 2789 9038',
    email: 'my@growthops.asia',
    address:
      'Level 11, Block B, Plaza Zurich, No. 12, Jalan Gelenggang, Bukit Damansara, 50490 Kuala Lumpur, Malaysia',
  },
  {
    area: 'Asia',
    location: 'Manila',
    phoneNumber: '+63 2 7586 4771',
    email: 'man@growthops.asia',
    address:
      'KMC Solutions, 5F V Corporate Center, L.P. Leviste, Salcedo Village, Makati City 1227',
  },
  {
    area: 'Asia',
    location: 'Hong Kong',
    phoneNumber: '+852 2805 9009',
    email: 'hkg@growthops.asia',
    address: '29/F, Infinitus Plaza, 199 Des Voeux Road Central, Hong Kong',
  },
  {
    area: 'Asia',
    location: 'Singapore',
    phoneNumber: '+65 6220 8383',
    email: 'sg@growthops.asia',
    address: '1 Neil Rd, #02-02, Singapore 088804',
  },
  {
    area: 'Middle East',
    location: 'United Arab Emirates',
    address: 'Building 1, Unit B304, Dubai Design District',
  },
]
---

<section class="px-6 sm:px-20 pb-12 flex flex-col gap-11 lg:gap-30">
  <div class="flex flex-col gap-18 items-center justify-center">
    <h2
      class="font-extrabold text-5xl lg:text-8xl leading-12 lg:leading-20 uppercase"
    >
      Our offices
    </h2>
    <div
      class="grid xl:grid-cols-3 lg:grid-cols-2 grid-cols-1 w-full gap-x-10 gap-y-16"
    >
      {
        offices.map((office) => (
          <div class="flex flex-col w-full h-full px-8 py-6 rounded-3xl border-2 border-foreground/8 gap-6 relative">
            <div class=" -z-10 absolute inset-0 bg-black opacity-40 bg-blend-overlay rounded-3xl backdrop-blur-2xl shadow-[0px_4px_24px_-1px_rgba(0,0,0,0.25)]" />
            <div class="flex flex-col gap-2">
              <p class="font-semibold text-xs uppercase">{office.area}</p>
              <p class="font-extrabold text-2xl text-secondary">
                {office.location}
              </p>
            </div>
            <div class="flex flex-col gap-3 font-medium">
              {office.phoneNumber ? (
                <div class="flex gap-3">
                  <PhoneIcon class="h-4 w-4 fill-secondary sm:fill-[#B4B4B4] shrink-0 mt-1" />
                  <p>{office.phoneNumber}</p>
                </div>
              ) : null}
              {office.email ? (
                <div class="flex gap-3">
                  <AtIcon class="h-4 w-4 fill-secondary sm:fill-[#B4B4B4] shrink-0 mt-1" />
                  <p>{office.email}</p>
                </div>
              ) : null}
              {office.address ? (
                <div class="flex gap-3">
                  <LocationIcon class="h-4 w-4 fill-secondary sm:fill-[#B4B4B4] shrink-0 mt-1" />
                  <p class="text-wrap">{office.address}</p>
                </div>
              ) : null}
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <h3
    class="font-extrabold text-4xl lg:text-8xl leading-10 lg:leading-20 lg:text-center uppercase"
  >
    Keep <br class="lg:hidden"/>in touch
  </h3>
</section>
